export(calcFraction)
export(diffGOStats)
export(goSample)
export(hyperGOMultiEnrichment)
export(limitedRandomSample)
export(possibleNoise)
export(pvalueDiffSig)
export(pvaluesMultiEnrich)
export(sameGOStats)
export(sampleTerms)
export(trimGOFrac)
importClassesFrom(categoryComparePaperRev,GOHyperGParamsCC)
importFrom(Biobase,reverseSplit)
importFrom(categoryComparePaperRev,hyperGTestCC)
