export(calcFraction)
export(hyperGOMultiEnrichment)
export(limitedRandomSample)
export(sampleTerms)
importClassesFrom(categoryComparePaperRev,GOHyperGParamsCC)
importFrom(Biobase,reverseSplit)
importFrom(categoryComparePaperRev,hyperGTestCC)
