export(calcFraction)
export(collapseProbes)
export(diffGOStats)
export(fishersMethod)
export(getDiffGenes)
export(goSample)
export(hyperGOMultiEnrichment)
export(limitedRandomSample)
export(multiGeneSetTest)
export(multiSampleGeneSetTest)
export(possibleNoise)
export(pvalueDiffSig)
export(pvaluesMultiEnrich)
export(rankGenes)
export(sameGOStats)
export(samplePValueGenGSEA)
export(sampleTerms)
export(sweepNoiseSample)
export(trimGOFrac)
importClassesFrom(categoryComparePaperRev,GOHyperGParamsCC)
importFrom(Biobase,reverseSplit)
importFrom(categoryComparePaperRev,hyperGTestCC)
importFrom(limma,contrasts.fit)
importFrom(limma,eBayes)
importFrom(limma,geneSetTest)
importFrom(limma,lmFit)
importFrom(limma,makeContrasts)
importFrom(limma,topTable)
